.login-page {
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  
  mat-card {
    width: 30%;
    margin: 10% auto;
  
  }
  mat-form-field, mat-checkbox {
    width: 70%;
    display: block;
    margin: 15% auto;
  }
  mat-card-content {
    margin-top: 20px;
  }
  
  .login-button {
    margin-top: 20px;
    display: block;
    width: 80%;
    margin: 20px auto;
  }
  
  