.login-page {
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
    background-color: #020b41;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px; 
    overflow: hidden;
  }
  
  mat-card {
      
    width: 30%;
    margin: 10% auto;
    
  
  }
  mat-form-field{
    width: 70%;
    display: block;
    margin: 10% auto;
  }

  mat-checkbox{
    width: 70%;
    display: block;
    margin: 10% auto;
  }

  mat-card-content {
    margin-top: 20px;
  }
  
  .login-button {
    margin-top: 20px;
    display: block;
    width: 80%;
    margin: 20px auto;
  }
  
  