<div class="login-page">
    <mat-card>
      <mat-card-title style="text-align:center;font-weight: bold;margin-top: 7%;">Login</mat-card-title>
      
            <mat-card-content>
              <form #userForm="ngForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                
                <div>
                    
                <mat-form-field appearance="outline" >
                  <mat-label>PhoneNumber</mat-label>
                  <input
                    matInput
                    formControlName="phone"
                    placeholder="Phone number"
                    required
                    maxlength="13">
  
                    
                  <mat-icon matSuffix>call</mat-icon>
                  
                  </mat-form-field>
                </div>
              <mat-checkbox >Remind me!</mat-checkbox>
                
                <button mat-raised-button color="primary"
                  class="login-button">
                  Login
                </button>
  
              </form>
            </mat-card-content>
    </mat-card>
  </div>
  
  